/*
    This file contains all styles that apply to elements that are used
    throughout the entire application, like <body> or <h1>.
*/

body {
    margin: 0;
    overflow: hidden;

    background-color: #eee;
    font-family: 'Righteous';
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #777;
    font-weight: normal;
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
    color: initial;
}

.overlay {
    padding: 30px;

    background-color: white;

    border: 1px solid lightgrey;
    box-shadow: 4px 4px 5px 0px #aaa;
}

span.tag {
    padding: 2px 5px;

    background-color: #ffe5c4;
    font-family: monospace;

    border: 1px solid #aaa;
    border-radius: 20px;

    white-space: nowrap;

    > a:hover {
        text-decoration: underline;
    }
}
