
.btn {
    padding: 8px;

    border: none;
    border-radius: 2px;

    font-size: 16px;
    font-family: inherit;
    text-align: center;

    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}

.btn-primary {
    color: white;
    background-color: #000080;

    &:hover {
        background-color: #0080ff;
    }
}

.btn-secondary {
    color: #000080;
    border: 1px solid #000080;
}

.btn-green {
    color: white;
    background-color: limegreen;

    &:hover {
        background-color: lightgreen;
    }
}

.btn-red {
    color: white;
    background-color: red;

    &:hover {
        background-color: #ff7070;
    }
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2em;
    max-width: 2.2em;
    height: 2.2em;
    color: #777;
    background-color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 2px 4px 1px #ccc;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}

.icon-button-primary {
    background-color: #000080;
    color: white;

    &:hover{
        background-color: #0080ff;
    }
}

.icon-button-warning {
    background-color: red;
    color: white;

    &:hover{
        background-color: #ff7070;
    }
}

.icon-button-success {
    background-color: limegreen;
    color: white;

    &:hover {
        background-color: lightgreen;
    }
}
