/* Card view */
.card-row, .stats {
    margin: 20px auto;
    max-width: 1100px;
    padding: 10px;
}

.card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1000px) {
        flex-direction: column;

        .card {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 500px) {
        .card {
            width: 100%;
            margin-left: 10px;
            margin-right: 10px;
            height: calc(100vw * 0.56);
        }
    }
}

.stats {
    color: #777;
    flex-direction: column;

    .row {
        display: flex;

        &:not(:last-child) {
            border-bottom: 1px solid #aaa;
            margin-bottom: 10px;
        }
    }

    .tag:not(:last-child) {
        display: inline-block;
        margin-right: 10px;
    }

    .stat-row-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        flex: 1;
        padding: 10px;

        &:not(:last-child) {
            border-right: 1px solid #aaa;
        }
    }

    .label {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        color: black;

        .icon {
            color: #666;
            font-size: 18px;
            margin-right: 0.4em;
        }
    }

    @media (max-width: 1000px) {
        .label {
            margin-bottom: 0px;
        }

        .row {
            flex-direction: column;

            &:not(:last-child) {
                margin-bottom: 0px;
            }
        }

        .stat-row-item {
            flex-direction: row;
            justify-content: space-between;

            &:not(:last-child) {
                border-bottom: 1px solid #aaa;
                border-right: none;
            }
        }
    }
}
