
/* Cards - add */
#cardForm {
    max-width: 1100px;
    margin: 0 auto;

    @media (max-width: 500px) {
        .card {
            height: calc(0.56 * 100vw);
        }
    }

    label {
        margin-right: 15px;
    }

    input {
        width: 100%;
    }

    textarea {
        width: 500px;

        font-size: 16px;
        resize: none;
    }

    section {
        margin-bottom: 1em;
        padding-bottom: 2em;
        border-bottom: 1px solid #aaa;
    }

    .card-form-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2em 2em;
    }

    .button-row {
        display: flex;
        justify-content: center;
        column-gap: 50px;

        .btn {
            width: 100px;
        }
    }

    .icon {
        color: #777;
        margin-right: 0.5em;
    }
}
