
header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 40px;

    font-size: 30px;

    background-color: #000080;
    color: white;
}

@media (max-width: 1000px) {
    header {
        padding: 0 15px;
    }
}

header .header-left-desktop, .header-right {
    display: flex;
    align-items: center;
    flex: 2;
    font-size: 18px;
}

@media (max-width: 1000px) {
    header .header-left-desktop {
        display: none;
    }
}

header .header-left-mobile {
    display: none;
}

header .header-left-mobile details summary {
    list-style: none;
    cursor: pointer;
    position: relative;
}

header .header-left-mobile details summary .summary-queue-size {
    position: absolute;
    background-color: limegreen;
    border-radius: 36px;
    padding: 0px 5px;
    font-size: 12px;
    top: 0px;
    right: -10px;
}

header .header-left-mobile details[open] summary .summary-queue-size {
    display: none;
}

header .header-left-mobile nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 5px 10px;
    left: 0;
    top: 60px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    box-shadow: 0px 4px 5px 0px #aaa;
}

header .header-left-mobile nav .nav-item {
    border-radius: 0px;
    font-size: 20px;
    color: #777;
}

@media (max-width: 1500px) {
    header .header-left-desktop .nav-item-text {
        display: none;
    }
}

header .header-left-mobile nav .nav-item:hover:not(.disabled) .nav-item-icon,
header .header-left-mobile nav .nav-item:hover:not(.disabled) .nav-item-text {
    transform: translateX(5px);
    transition: transform 0.2s;
}

header .header-left-mobile nav .nav-item .nav-item-icon,
header .header-left-mobile nav .nav-item .nav-item-text {
    display: inline-block;
    transform: translateX(0px);
    transition: transform 0.2s;
}

header .header-left-mobile nav .nav-item .nav-item-icon {
    width: 1.25em;
}

header .header-left-mobile nav .nav-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
    margin-right: 0px;
}

header .header-left-mobile nav .nav-item-learn {
    color: #777;
    background-color: white;
}

header .header-left-mobile nav .nav-item-learn.disabled {
    color: #bbb;
}

header .header-left-mobile nav .nav-item-learn .queue-size {
    position: absolute;
    right: 20px;
    color: white;
    background-color: limegreen;
    padding: 0px 8px;
    font-size: 14px;
}

@media (max-width: 1000px) {
    header .header-left-mobile {
        display: flex;
        flex: 2;
    }
}

header .header-center {
    flex: 1;
    text-align: center;
}

header .header-right {
    justify-content: flex-end;
}

header .header-left-desktop .fa-user {
    margin-right: 5px;
    font-size: 20px;
}

header .app-title {
    margin: 0 20px;
    color: white;
}

header .header-right .search-form {
    margin-right: 20px;
}

@media (max-width: 1000px) {
    header .header-right .header-item {
        padding: 5px 0px;
    }

    header .header-right .search-form {
        margin-right: 10px;
    }

    header .header-right .search-form input {
        display: none;
    }
}

header .header-right a {
    display: flex;
    align-items: center;
    color: white;
}

header .header-right .fa-sign-out-alt {
    margin-left: 10px;
    font-size: 20px;
}

@media (max-width: 1000px) {
    header .header-right .logout-text {
        display: none;
    }

    header .header-right .fa-sign-out-alt {
        margin-left: 0px;
        font-size: 25px;
    }
}

header .nav-item,
header .header-item {
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

header .nav-item:not(:last-child) {
    margin-right: 5px;
}

header .header-left-desktop .nav-item:hover:not(.disabled),
header .header-item:hover {
    transform: scale(1.1);
}

header .nav-item .nav-item-icon {
    margin-right: 3px;
}

header .nav-item-learn {
    background-color: limegreen;
    display: flex;
    align-items: center;
}

header .nav-item.disabled {
    background-color: #aaa;
}

header .header-left-desktop .nav-item-learn:not(.disabled):hover {
    background-color: lightgreen;
    transform: none;
}

header .nav-item .nav-item-learn-label {
    margin-left: 7px;
}

header .nav-item.disabled .nav-item-learn-label {
    cursor: default;
}

header .nav-item-learn .queue-size {
    margin-left: 7px;
    background-color: white;
    color: limegreen;
    border-radius: 10px;
    padding: 0px 5px;
    font-size: 12px;
}
