
header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 40px;

    font-size: 30px;

    background-color: #000080;
    color: white;

    @media (max-width: 1000px) {
        padding: 0 15px;
    }

    .header-left-desktop, .header-right {
        display: flex;
        align-items: center;
        flex: 2;
        font-size: 18px;
    }

    .header-left-desktop {
        @media (max-width: 1000px) {
            display: none;
        }

        .nav-item-text {
            @media (max-width: 1500px) {
                display: none;
            }
        }

        .fa-user {
            margin-right: 5px;
            font-size: 20px;
        }

        .nav-item:hover:not(.disabled) {
            transform: scale(1.1);
        }

        .nav-item-learn:not(.disabled):hover {
            background-color: lightgreen;
            transform: none;
        }
    }

    .header-left-mobile {
        display: none;

        details {
            summary {
                list-style: none;
                cursor: pointer;
                position: relative;

                .summary-queue-size {
                    position: absolute;
                    background-color: limegreen;
                    border-radius: 36px;
                    padding: 0px 5px;
                    font-size: 12px;
                    top: 0px;
                    right: -10px;
                }
            }

            &[open] {
                .summary-queue-size {
                    display: none;
                }
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            padding: 5px 10px;
            left: 0;
            top: 60px;
            background-color: white;
            border-bottom: 1px solid #aaa;
            box-shadow: 0px 4px 5px 0px #aaa;

            .nav-item {
                border-radius: 0px;
                font-size: 20px;
                color: #777;

                .nav-item-icon, .nav-item-text {
                    display: inline-block;
                    transform: translateX(0px);
                    transition: transform 0.2s;
                }

                .nav-item-icon {
                    width: 1.25em;
                }

                &:hover:not(.disabled) {
                    .nav-item-icon, .nav-item-text {
                        transform: translateX(5px);
                        transition: transform 0.2s;
                    }
                }

                &:not(:last-child) {
                    border-bottom: 1px solid #ccc;
                    margin-right: 0px;
                }
            }

            .nav-item-learn {
                color: #777;
                background-color: white;

                &.disabled {
                    color: #bbb;
                }

                .queue-size {
                    position: absolute;
                    right: 20px;
                    color: white;
                    background-color: limegreen;
                    padding: 0px 8px;
                    font-size: 14px;
                }
            }
        }

        @media (max-width: 1000px) {
            display: flex;
            flex: 2;
        }
    }

    .header-center {
        flex: 1;
        text-align: center;

        .app-title {
            margin: 0 20px;
            color: white;
        }
    }

    .header-right {
        justify-content: flex-end;

        .search-form {
            margin-right: 20px;

            @media (max-width: 1000px) {
                margin-right: 10px;

                input {
                    display: none;
                }
            }
        }

        a {
            display: flex;
            align-items: center;
            color: white;
        }

        .fa-sign-out-alt {
            margin-left: 10px;
            font-size: 20px;
        }

        @media (max-width: 1000px) {
            .header-item {
                padding: 5px 0px;
            }

            .logout-text {
                display: none;
            }

            .fa-sign-out-alt {
               margin-left: 0px;
               font-size: 25px;
           }
        }
    }

    .header-item:hover {
        transform: scale(1.1);
    }

    .nav-item, .header-item {
        color: white;
        padding: 5px 15px;
        border-radius: 5px;
    }

    .nav-item {
        &:not(:last-child) {
            margin-right: 5px;
        }

        .nav-item-icon {
            margin-right: 3px;
        }

        &.nav-item-learn {
            background-color: limegreen;
            display: flex;
            align-items: center;

            .queue-size {
                margin-left: 7px;
                background-color: white;
                color: limegreen;
                border-radius: 10px;
                padding: 0px 5px;
                font-size: 12px;
            }
        }

        .nav-item-learn-label {
            margin-left: 7px;
        }

        &.disabled {
            background-color: #aaa;

            &.nav-item-learn-label {
                cursor: default;
            }
        }
    }
}
