/* Learn */
.learn {
    .card {
        margin: 70px auto;
        margin-bottom: 20px;
        transition: transform 0.8s linear;

        span {
            font-family: inherit;
        }

        @media (max-width: 500px) {
            margin-left: 10px;
            margin-right: 10px;
            width: initial;
            height: calc(0.56 * 100vw);
        }

        &.turning {
            transform: rotate3d(0, 1, 0, 180deg);
        }

        /* hide back text if card is not turned */
        &:not(.turned) div.back-text {
            display: none;
        }

        &.turned {
            box-shadow: -4px 4px 5px 0px #aaa;

            div.front-text {
                display: none;
            }

            div.back-text {
                transform: rotateY(180deg);
            }
        }
    }

    .tags {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1em;
        flex-wrap: wrap;

        margin: 2em 0;
        min-height: 1.5em;
    }

    #learnForm {
        display: flex;
        margin: 0 auto;
        justify-content: center;

        .icon-button {
            margin: 0 1em;
            font-size: 24px;
        }
    }
}
