.list {
    box-shadow: 4px 4px 5px 0px #aaa;
    background-color: white;
    padding: 10px;
    padding-top: 0px;

    .list-item {
        display: flex;
        align-items: center;
        font-size: 14px;

        background-color: white;
        border-bottom: 1px solid #ddd;

        &.list-header {
            font-size: 16px;
            border-bottom: none;
            background-color: #000080;
            color: white;
            box-shadow: 10px 0 0 0 #000080, -10px 0 0 0 #000080;
        }

        &:not(.list-header):hover {
            background-color: #eee;
        }

        .cell {
            padding: 10px 10px;
            flex: 1;
            flex-wrap: wrap;

            text-align: center;
        }
    }
}

.empty-list {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    color: #777;
    font-size: 25px;
}
