
.login-wrapper {
    margin: 100px auto;
    width: 360px;

    .row {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        margin-top: 5px;
    }

    button {
        width: 100%;
        margin-top: 20px;
    }
}
