
.change-password-overlay {
    margin: 100px auto;
    width: 360px;

    .row {
        margin-bottom: 40px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        width: 100%;
    }

    .button-row {
        display: flex;
        column-gap: 1em;

        > * {
            flex: 1;
        }
    }
}
