
/* Profile */
.profile-overlay {
    max-width: 360px;
    margin: 100px auto;

    section:not(:last-child) {
        margin-bottom: 3em;
    }

    h2.profile-attribute-heading {
        display: flex;
        align-items: center;
        column-gap: 1em;

        font-size: 1.25em;
        font-weight: normal;
    }

    .profile-attribute-value {
        color: #777;
        overflow: hidden;
        text-overflow: ellipsis;

        .mathjax-enabled {
            color: limegreen;
        }

        .mathjax-disabled {
            color: red;
        }
    }

    .password-change-link {
        font-size: 14px;
        color: blue;

        &:hover {
            text-decoration: underline;
        }

        .change-icon {
            margin-right: 0.4em;
        }
    }

    input {
        width: 100%;
    }

    .button-row {
        display: flex;
        justify-content: center;
        column-gap: 1em;

        > * {
            flex: 1;
        }
    }

    .profile-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5em;

        label {
            color: #777;
        }
    }
}
