
/* Profile */
.profile-overlay {
    max-width: 500px;
    margin: 0 auto;

    section:not(:last-child) {
        margin-bottom: 3em;
    }

    h2.profile-attribute-heading {
        font-size: 1.25em;
        font-weight: normal;
    }

    .profile-attribute-value {
        color: #777;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    input {
        width: 100%;
    }

    .button-row {
        display: flex;
        justify-content: center;
        column-gap: 50px;

        .btn {
            width: 100px;
        }
    }
}
