@import "base";
@import "button";
@import "card";
@import "header";
@import "notification";
@import "home";
@import "login";
@import "list";
@import "card_list";
@import "card_form";
@import "tag_list";
@import "learn";

/* Card view */
.card-row, .stats {
    margin: 20px auto;
    max-width: 1100px;
    padding: 10px;
}

.card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1000px) {
    .card-row {
        flex-direction: column;
    }

    .card-row .card {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .card-row .card {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        height: calc(100vw * 0.56);
    }
}

.stats {
    color: #777;
    flex-direction: column;
}

.stats .row {
    display: flex;
}

.stats .row:not(:last-child) {
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}

.stats .tag:not(:last-child) {
    display: inline-block;
    margin-right: 10px;
}

.stats .stat-row-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
    padding: 10px;
}

.stats .stat-row-item:not(:last-child) {
    border-right: 1px solid #aaa;
}

.stats .label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: black;
}

.stats .label .icon {
    color: #666;
    font-size: 18px;
    margin-right: 0.4em;
}


@media (max-width: 1000px) {
    .stats .label {
        margin-bottom: 0px;
    }

    .stats .row {
        flex-direction: column;
    }

    .stats .row:not(:last-child) {
        margin-bottom: 0px;
    }

    .stats .stat-row-item {
        flex-direction: row;
        justify-content: space-between;
    }

    .stats .stat-row-item:not(:last-child) {
        border-bottom: 1px solid #aaa;
        border-right: none;
    }
}
