@import "base";
@import "button";
@import "card";
@import "header";
@import "notification";
@import "home";
@import "login";
@import "list";

.card-list {
    margin: 15px 50px;
}

@media (max-width: 1000px) {
    .card-list {
        margin: 15px auto;
    }
}

.card-list .cell:nth-child(1),
.card-list .cell:nth-child(2) {
    flex: 2;
}

.list-item .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
    font-size: 11px;
    overflow: hidden;
}

.list-item .tags .tag:not(:last-child) {
    margin-right: 6px;
}

.list-item .grey {
    color: #777;
}

.sub-header {
    display: flex;
    align-items: center;

    color: #777;
    font-size: 18px;

    margin: 20px 50px;
    padding: 10px 5px;

    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

@media (max-width: 1000px) {
    .sub-header {
        margin-left: 0px;
        margin-right: 0px;
        flex-wrap: wrap;
        row-gap: 0.5em;
    }

    .sub-header > h1 {
        order: 1;
        min-width: 100%;
    }

    .sub-header-left {
        order: 2;
    }

    .sub-header-right {
        order: 3;
    }
}

.sub-header > * {
    flex: 1;
}

.sub-header > h1 {
    flex: 5;
}

.sub-header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sub-header a.icon-button {
    margin: 0 10px;
}

.sub-header a.sub-header-link {
    color: #777;
    margin-right: 50px;
}

.sub-header a.sub-header-link:hover {
    text-decoration: underline;
}

/* Cards - add */
#cardForm {
    max-width: 1100px;
    margin: 0 auto;
}

@media (max-width: 500px) {
    #cardForm .card {
        height: calc(0.56 * 100vw);
    }
}

#cardForm label {
    margin-right: 15px;
}

#cardForm input {
    width: 100%;

    font-family: monospace;
    font-size: 16px;
}

#cardForm textarea {
    width: 500px;

    font-size: 16px;
    resize: none;
}

#cardForm section {
    margin-bottom: 1em;
    padding-bottom: 2em;
    border-bottom: 1px solid #aaa;
}

#cardForm .card-form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em 2em;
}

#cardForm .button-row {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

#cardForm .button-row .btn {
    width: 100px;
}

#cardForm .icon {
    color: #777;
    margin-right: 0.5em;
}

/* Tag list */
.list.tag-list {
    max-width: 500px;
    margin: 0 auto;
}

.tag-list .cell.tag-cell {
    flex: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Learn */
.learn .card {
    margin: 70px auto;
    transition: transform 0.8s linear;
}

@media (max-width: 500px) {
    .learn .card {
        margin-left: 10px;
        margin-right: 10px;
        width: initial;
        height: calc(0.56 * 100vw);
    }
}

.learn .card.turning {
    transform: rotate3d(0, 1, 0, 180deg);
}

.learn .card span {
    font-family: inherit;
}

/* hide back text if card is not turned */
.learn .card:not(.turned) div.back-text {
    display: none;
}

.learn .card.turned div.front-text {
    display: none;
}

.learn .card.turned div.back-text {
    transform: rotateY(180deg);
}

.learn .card.turned {
    box-shadow: -4px 4px 5px 0px #aaa;
}

.learn #learnForm {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.learn #learnForm .icon-button {
    margin: 0 1em;
    font-size: 24px;
}

/* Search form */
.search-form {
    display: flex;
    align-items: center;
}

.search-form .search-icon {
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
}

.search-form .search-icon:hover {
    transform: scale(1.1);
}

.search-form input {
    font-size: 16px;
    font-family: inherit;
    padding: 2px;
    width: 250px;
}

@media (max-width: 1000px) {
    header.search-focused .header-left-mobile {
        flex: 0;
    }

    header.search-focused input#searchInput {
        display: block;
        width: 100%;
    }

    header.search-focused .search-form {
        justify-content: flex-end;
        flex: 1;
        padding-left: 20px;
        padding-right: 5px;
    }

    header.search-focused .search-form form {
        animation: expand 0.5s ease-in-out;
        width: 100%;
    }

    @keyframes expand {
        from { width:   0%; }
        to   { width: 100%; }
    }

    header.search-focused .header-center {
        display: none;
    }
}

span.highlight {
    background-color: yellow;
}

/* Card view */
.card-row, .stats {
    margin: 20px auto;
    max-width: 1100px;
    padding: 10px;
}

.card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1000px) {
    .card-row {
        flex-direction: column;
    }

    .card-row .card {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .card-row .card {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        height: calc(100vw * 0.56);
    }
}

.stats {
    color: #777;
    flex-direction: column;
}

.stats .row {
    display: flex;
}

.stats .row:not(:last-child) {
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}

.stats .tag:not(:last-child) {
    display: inline-block;
    margin-right: 10px;
}

.stats .stat-row-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
    padding: 10px;
}

.stats .stat-row-item:not(:last-child) {
    border-right: 1px solid #aaa;
}

.stats .label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: black;
}

.stats .label .icon {
    color: #666;
    font-size: 18px;
    margin-right: 0.4em;
}


@media (max-width: 1000px) {
    .stats .label {
        margin-bottom: 0px;
    }

    .stats .row {
        flex-direction: column;
    }

    .stats .row:not(:last-child) {
        margin-bottom: 0px;
    }

    .stats .stat-row-item {
        flex-direction: row;
        justify-content: space-between;
    }

    .stats .stat-row-item:not(:last-child) {
        border-bottom: 1px solid #aaa;
        border-right: none;
    }
}
