<div class="sub-header">
    <span></span>
    <div class="sub-header-title"><i class="fas fa-trash"></i> Trash</div>
    <span></span>
</div>

[% IF cards.size > 0 %]
    [% INCLUDE cards/card_list.tt %]
[% ELSE %]
    <div class="empty-list">Trash is empty</div>
[% END %]
