body {
    margin: 0;
    overflow: hidden;

    background-color: #eee;
}

* {
    font-family: 'Righteous';
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #777;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: initial;
}

.btn {
    padding: 8px;

    border: none;
    border-radius: 2px;

    font-size: 16px;

    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #bbb;
}

.btn-primary {
    color: white;
    background-color: #000080;
}

.btn-primary:hover {
    background-color: #0080ff;
}

.overlay {
    padding: 30px;

    background-color: white;

    border: 1px solid lightgrey;
    box-shadow: 4px 4px 5px 0px #aaa;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

    border: 1px dashed #aaa;
    box-shadow: 4px 4px 5px 0px #aaa;

    font-family: 'Comic Neue';
    font-size: 20px;
    text-align: center;
}

#header {
    height: 60px;

    font-size: 30px;
    text-align: center;
    line-height: 60px;

    background-color: #000080;
    color: white;
}

#header .menu-left {
    position: absolute;
    left: 40px;
    top: 0px;

    font-size: 18px;
}

#header .menu-left .fa-user {
    margin-right: 10px;
    font-size: 20px;
}

#header .app-title {
    margin: 0 20px;
}

#header .menu-right {
    position: absolute;
    right: 40px;
    top: 0px;

    font-size: 18px;
}

#header .menu-right a {
    color: white;
}

#header .menu-right:hover {
    transform: scale(1.05);
}

#header .menu-right .fa-sign-out-alt {
    margin-left: 10px;
    font-size: 20px;
}

.content-all {
    display: flex;
    height: calc(100vh - 60px);
    padding: 15px;

    box-sizing: border-box;
}

.main-menu {
    flex: 1;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.main-menu .menu-item {
    display: flex;
    align-items: center;

    padding: 5px;

    font-size: 18px;
}

.main-menu .menu-item:not(:last-child) {
    margin-bottom: 5px;
}

.main-menu .menu-item:hover {
    transform: scale(1.02);
}

.main-menu .menu-item:not(.menu-item-primary):hover {
    background-color: #eee;
}

.main-menu .menu-item svg {
    margin-right: 10px;

    font-size: 24px;

    color: #777;
}

.main-menu .menu-item-primary {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    border-radius: 3px;

    color: white;
    background-color: #000080;
}

.main-menu .menu-item-primary svg {
    color: white;
}

.main-menu .version-hint {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20px;
    width: 100%;

    color: #777;
    text-align: center;
}

.content {
    flex: 9;
    overflow-y: auto;
}

.notification {
    display: flex;
    position: absolute;
    left: 100vw;
    width: 300px;
    top: 200px;
    padding: 20px;

    align-items: center;
    text-align: center;

    border: 1px solid #aaa;
    border-left: 5px solid;
    border-radius: 3px;
    box-shadow: 4px 4px 5px 0px #aaa;
    background-color: white;

    animation-duration: 0.75s, 1.5s;
    animation-name: slidein, fadeout;
    animation-delay: 0s, 4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.notification-icon {
    margin: auto 15px auto 0px;

    font-size: 25px;
}

.error {
    border-left-color: red;
}

.error .notification-icon {
    color: red;
}

.success {
    border-left-color: lightgreen;
}

.success .notification-icon {
    color: lightgreen;
}

@keyframes slidein {
    from { transform: translateX(0px); }
    to   { transform: translateX(-400px); }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Home */
.learn-button {
    display: block;
    margin: 50px auto;
    padding: 10px 20px;

    font-size: 24px;
}

.login-title {
    margin-top: 100px;
}

.login-wrapper {
    margin: 100px auto;
    width: 300px;
}

.login-wrapper .row {
    margin-bottom: 20px;
}

.login-wrapper label {
    display: block;
    margin-bottom: 5px;
}

.login-wrapper input {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;

    box-sizing: border-box;

    border: 1px solid #aaa;
    border-radius: 2px;
}

.login-wrapper button {
    width: 100%;
    margin-top: 20px;
}

/* Cards */
.cards-list {
    width: 60%;
    margin: 15px auto;
}

/* Cards - add */
form#addForm {
    width: 80%;
    margin: 0 auto;
}

.title-row, .tags-row {
    width: 50%;
    margin: 0px auto;

    text-align: center;
}

.tags-row {
    margin-bottom: 20px;
}

#addForm label {
    margin-right: 15px;
}

#addForm input {
    width: 90%;

    font-family: monospace;
    font-size: 16px;
}

.form-wrapper {
    width: 100%;
    margin: 20px auto;
}

.form-wrapper textarea {
    display: block;

    width: 95%;
    height: 85%;
    margin: 5px auto;

    font-family: monospace;
    font-size: 16px;
    resize: none;
}

.front-preview,
.back-preview {
    width: 95%;
    height: 85%;
    margin: 5px auto;
}

.front, .back {
    display: flex;
    flex: 1;
    height: 280px;
}

.front-input-wrapper,
.back-input-wrapper,
.front-preview-wrapper,
.back-preview-wrapper {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
    max-width: 50%;
}

.create-button {
    display: block;
    width: 100px;
    margin: 0 auto;
}

/* Learn */
.learn .card {
    width: 40%;
    height: 200px;
    margin: 0 auto;
    transition: transform 0.8s linear;
}

.learn .card.turning {
    transform: rotate3d(0, 1, 0, 180deg);
}

.learn .card span {
    font-family: inherit;
}

/* hide back text if card is not turned */
.learn .card:not(.turned) span.back-text {
    display: none;
}

.learn .card.turned span.front-text {
    display: none;
}

.learn .card.turned span.back-text {
    transform: rotateY(180deg);
}

.learn .learn-box {
    display: flex;
    flex-direction: column;

    width: 40%;
    margin: 30px auto;
}

.learn .learn-box .row {
    display: flex;
    justify-content: center;
}

.learn .learn-box .row-1 {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.learn .learn-box .row-2 {
    margin: 30px auto;
}

.learn .learn-box .row-3 {
    margin-top: 30px;
}

.learn .learn-box .button svg {
    margin-right: 5px;
}

.learn .learn-box label {
    display: flex;
    position: relative;

    height: 24px;
    margin: 0 15px;

    color: #777;
    cursor: pointer;
}

.learn .learn-box input {
    position: absolute;

    opacity: 0;
    cursor: pointer;
}

.learn .learn-box .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
    margin-left: 10px;

    border: 1px solid #aaa;
    border-radius: 2px;
}

.learn-box .checkmark {
    display: none;

    font-size: 14px;
    color: white;
}

.learn-box input:checked + .checkbox > .checkmark {
    display: block;
}

.learn-box input:checked + .checkbox {
    background-color: #000080;
}
