body {
    margin: 0;
    overflow: hidden;

    background-color: #eee;
    font-family: 'Righteous';
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #777;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: initial;
}

.btn {
    padding: 8px;

    border: none;
    border-radius: 2px;

    font-size: 16px;
    font-family: inherit;
    text-align: center;

    background-color: #ccc;

    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #bbb;
}

.btn-primary {
    color: white;
    background-color: #000080;
}

.btn-primary:hover {
    background-color: #0080ff;
}

.btn-green {
    color: white;
    background-color: limegreen;
}

.btn-green:hover {
    background-color: lightgreen;
}

.btn-red {
    color: white;
    background-color: red;
}

.btn-red:hover {
    background-color: #ff7070;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2em;
    max-width: 2.2em;
    height: 2.2em;
    color: #777;
    background-color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 2px 4px 1px #ccc;
    cursor: pointer;
}

.icon-button:hover {
    transform: scale(1.05);
}

.icon-button-primary {
    background-color: #000080;
    color: white;
}

.icon-button-primary:hover {
    background-color: #0080ff;
}

.icon-button-warning {
    background-color: red;
    color: white;
}

.icon-button-warning:hover {
    background-color: #ff7070;
}

.icon-button-success {
    background-color: limegreen;
    color: white;
}

.icon-button-success:hover {
    background-color: lightgreen;
}

.overlay {
    padding: 30px;

    background-color: white;

    border: 1px solid lightgrey;
    box-shadow: 4px 4px 5px 0px #aaa;
}

.card {
    overflow: auto;

    width: 500px;
    height: 280px;
    padding: 20px;

    border: 1px dashed #aaa;
    box-shadow: 4px 4px 5px 0px #aaa;

    background-color: white;
    font-family: 'Comic Neue';
    font-size: 18px;
    text-align: center;
}

.card-content-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.card-content {
    display: table-cell;
    vertical-align: middle;
    white-space: pre-line;
}

.card pre {
    text-align: left;

    margin-bottom: 0;
    padding: 0.1em;

    border: 1px dashed #ccc;
    background-color: #eee;
    color: #777;
}

.card pre, tt {
    font-size: 16px;
}

span.tag {
    padding: 2px 5px;

    background-color: #ffe5c4;
    font-family: monospace;

    border: 1px solid #aaa;
    border-radius: 20px;

    white-space: nowrap;
}

span.tag > a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 40px;

    font-size: 30px;

    background-color: #000080;
    color: white;
}

@media (max-width: 1000px) {
    header {
        padding: 0 15px;
    }
}

header .header-left-desktop, .header-right {
    display: flex;
    align-items: center;
    flex: 2;
    font-size: 18px;
}

@media (max-width: 1000px) {
    header .header-left-desktop {
        display: none;
    }
}

header .header-left-mobile {
    display: none;
}

header .header-left-mobile details summary {
    list-style: none;
    cursor: pointer;
    position: relative;
}

header .header-left-mobile details summary .summary-queue-size {
    position: absolute;
    background-color: limegreen;
    border-radius: 36px;
    padding: 0px 5px;
    font-size: 12px;
    top: 0px;
    right: -10px;
}

header .header-left-mobile details[open] summary .summary-queue-size {
    display: none;
}

header .header-left-mobile nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 5px 10px;
    left: 0;
    top: 60px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    box-shadow: 0px 4px 5px 0px #aaa;
}

header .header-left-mobile nav .nav-item {
    border-radius: 0px;
    font-size: 20px;
    color: #777;
}

@media (max-width: 1500px) {
    header .header-left-desktop .nav-item-text {
        display: none;
    }
}

header .header-left-mobile nav .nav-item:hover:not(.disabled) .nav-item-icon,
header .header-left-mobile nav .nav-item:hover:not(.disabled) .nav-item-text {
    transform: translateX(5px);
    transition: transform 0.2s;
}

header .header-left-mobile nav .nav-item .nav-item-icon,
header .header-left-mobile nav .nav-item .nav-item-text {
    display: inline-block;
    transform: translateX(0px);
    transition: transform 0.2s;
}

header .header-left-mobile nav .nav-item .nav-item-icon {
    width: 1.25em;
}

header .header-left-mobile nav .nav-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
    margin-right: 0px;
}

header .header-left-mobile nav .nav-item-learn {
    color: #777;
    background-color: white;
}

header .header-left-mobile nav .nav-item-learn.disabled {
    color: #bbb;
}

header .header-left-mobile nav .nav-item-learn .queue-size {
    position: absolute;
    right: 20px;
    color: white;
    background-color: limegreen;
    padding: 0px 8px;
    font-size: 14px;
}

@media (max-width: 1000px) {
    header .header-left-mobile {
        display: flex;
        flex: 2;
    }
}

header .header-center {
    flex: 1;
    text-align: center;
}

header .header-right {
    justify-content: flex-end;
}

header .header-left-desktop .fa-user {
    margin-right: 5px;
    font-size: 20px;
}

header .app-title {
    margin: 0 20px;
    color: white;
}

header .header-right .search-form {
    margin-right: 20px;
}

@media (max-width: 1000px) {
    header .header-right .header-item {
        padding: 5px 0px;
    }

    header .header-right .search-form {
        margin-right: 10px;
    }

    header .header-right .search-form input {
        display: none;
    }
}

header .header-right a {
    display: flex;
    align-items: center;
    color: white;
}

header .header-right .fa-sign-out-alt {
    margin-left: 10px;
    font-size: 20px;
}

@media (max-width: 1000px) {
    header .header-right .logout-text {
        display: none;
    }

    header .header-right .fa-sign-out-alt {
        margin-left: 0px;
        font-size: 25px;
    }
}

header .nav-item,
header .header-item {
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

header .nav-item:not(:last-child) {
    margin-right: 5px;
}

header .header-left-desktop .nav-item:hover:not(.disabled),
header .header-item:hover {
    transform: scale(1.1);
}

header .nav-item .nav-item-icon {
    margin-right: 3px;
}

header .nav-item-learn {
    background-color: limegreen;
    display: flex;
    align-items: center;
}

header .nav-item.disabled {
    background-color: #aaa;
}

header .header-left-desktop .nav-item-learn:not(.disabled):hover {
    background-color: lightgreen;
    transform: none;
}

header .nav-item .nav-item-learn-label {
    margin-left: 7px;
}

header .nav-item.disabled .nav-item-learn-label {
    cursor: default;
}

header .nav-item-learn .queue-size {
    margin-left: 7px;
    background-color: white;
    color: limegreen;
    border-radius: 10px;
    padding: 0px 5px;
    font-size: 12px;
}

main {
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.center-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #777;
    font-size: 25px;
    text-align: center;
}

.center-message .flag {
    font-size: 80px;
    margin-bottom: 40px;
}

.center-message .learn-link {
    background-color: #000080;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
}

.center-message .learn-link:hover {
    background-color: #0080ff;
}

.notification {
    display: flex;
    position: absolute;
    left: 100vw;
    width: 300px;
    top: 200px;
    padding: 20px;

    align-items: center;
    text-align: center;

    border: 1px solid #aaa;
    border-left: 5px solid;
    border-radius: 3px;
    box-shadow: 4px 4px 5px 0px #aaa;
    background-color: white;

    animation-duration: 0.75s, 1.5s, 0s;
    animation-name: slidein, fadeout, slideout;
    animation-delay: 0s, 4s, 5.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.notification-icon {
    margin: auto 15px auto 0px;

    font-size: 25px;
}

.error {
    border-left-color: red;
}

.error .notification-icon {
    color: red;
}

.success {
    border-left-color: lightgreen;
}

.success .notification-icon {
    color: lightgreen;
}

@keyframes slidein {
    from { transform: translateX(0px); }
    to   { transform: translateX(-400px); }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes slideout {
    from { transform: translateX(-400px); }
    to   { transform: translateX(0px); }
}

/* Home */
.learn-button {
    display: block;
    margin: 50px auto;
    padding: 10px 20px;

    font-size: 24px;
}

.login-wrapper {
    margin: 100px auto;
    width: 360px;
}

.login-wrapper .row {
    margin-bottom: 20px;
}

.login-wrapper label {
    display: block;
    margin-bottom: 5px;
}

.login-wrapper input {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
    font-family: inherit;

    border: 1px solid #aaa;
    border-radius: 2px;
}

.login-wrapper button {
    width: 100%;
    margin-top: 20px;
}

/* Cards */
.list {
    box-shadow: 4px 4px 5px 0px #aaa;
    background-color: white;
    padding: 10px;
    padding-top: 0px;
}

.card-list {
    margin: 15px 50px;
}

@media (max-width: 1000px) {
    .card-list {
        margin: 15px auto;
    }
}

.list-item {
    display: flex;
    align-items: center;
    font-size: 14px;

    background-color: white;
    border-bottom: 1px solid #ddd;
}

.list-item.list-header {
    font-size: 16px;
    border-bottom: none;
    background-color: #000080;
    color: white;
    box-shadow: 10px 0 0 0 #000080, -10px 0 0 0 #000080;
}

.list-item:not(.list-header):hover {
    cursor: pointer;
    background-color: #eee;
}

.list-item .cell {
    padding: 10px 10px;
    flex: 1;
    flex-wrap: wrap;

    text-align: center;
}

.card-list .list-item .cell:nth-of-type(1),
.card-list .list-item .cell:nth-of-type(2) {
    flex: 2;
}

.list-item .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
    font-size: 11px;
    overflow: hidden;
}

.list-item .tags .tag:not(:last-child) {
    margin-right: 6px;
}

.list-item .grey {
    color: #777;
}

.sub-header {
    display: flex;
    align-items: center;

    color: #777;
    font-size: 18px;

    margin: 20px 50px;
    padding: 10px 5px;

    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

@media (max-width: 1000px) {
    .sub-header {
        margin-left: 0px;
        margin-right: 0px;
        flex-wrap: wrap;
        row-gap: 0.5em;
    }

    .sub-header-title {
        order: 1;
        min-width: 100%;
    }

    .sub-header-left {
        order: 2;
    }

    .sub-header-right {
        order: 3;
    }
}

.sub-header > * {
    flex: 1;
}

.sub-header-title {
    flex: 5;
    font-size: 30px;
    text-align: center;
}

.sub-header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sub-header a.icon-button {
    margin: 0 10px;
}

.sub-header a.sub-header-link {
    color: #777;
    margin-right: 50px;
}

.sub-header a.sub-header-link:hover {
    text-decoration: underline;
}

.empty-list {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    color: #777;
    font-size: 25px;
}

/* Cards - add */
form#cardForm {
    width: 80%;
    margin: 0 auto;
}

.tags-row {
    width: 50%;
    margin: 0px auto;

    text-align: center;
    margin-bottom: 20px;
}

#cardForm label {
    margin-right: 15px;
}

#cardForm input {
    width: 90%;

    font-family: monospace;
    font-size: 16px;
}

.form-wrapper {
    width: 100%;
    margin: 20px auto;
}

.form-wrapper textarea {
    width: 500px;

    font-size: 16px;
    resize: none;
}

.front, .back {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;

    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}

.front::before, .back::before {
    position: absolute;
    left: 10px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 28px;
}

.front::before { content: "FRONT"; }
.back::before { content: "BACK"; }

#cardForm .button-row {
    display: flex;
    justify-content: center;
}

#cardForm .button-row .btn {
    width: 100px;
}

.submit-button {
    margin-left: 50px;
}

/* Tag list */
.list.tag-list {
    max-width: 500px;
    margin: 0 auto;
}

.tag-list .cell.tag-cell {
    flex: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Learn */
.learn .card {
    margin: 70px auto;
    transition: transform 0.8s linear;
}

@media (max-width: 500px) {
    .learn .card {
        margin-left: 10px;
        margin-right: 10px;
        width: initial;
        height: calc(0.56 * 100vw);
    }
}

.learn .card.turning {
    transform: rotate3d(0, 1, 0, 180deg);
}

.learn .card span {
    font-family: inherit;
}

/* hide back text if card is not turned */
.learn .card:not(.turned) div.back-text {
    display: none;
}

.learn .card.turned div.front-text {
    display: none;
}

.learn .card.turned div.back-text {
    transform: rotateY(180deg);
}

.learn .card.turned {
    box-shadow: -4px 4px 5px 0px #aaa;
}

.learn #learnForm {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.learn #learnForm .icon-button {
    margin: 0 1em;
    font-size: 24px;
}

/* Search form */
.search-form {
    display: flex;
    align-items: center;
}

.search-form .search-icon {
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
}

.search-form .search-icon:hover {
    transform: scale(1.1);
}

.search-form input {
    font-size: 16px;
    font-family: inherit;
    padding: 2px;
    width: 250px;
}

@media (max-width: 1000px) {
    header.search-focused .header-left-mobile {
        flex: 0;
    }

    header.search-focused input#searchInput {
        display: block;
        width: 100%;
    }

    header.search-focused .search-form {
        justify-content: flex-end;
        flex: 1;
        padding-left: 20px;
        padding-right: 5px;
    }

    header.search-focused .search-form form {
        animation: expand 0.5s ease-in-out;
        width: 100%;
    }

    @keyframes expand {
        from { width:   0%; }
        to   { width: 100%; }
    }

    header.search-focused .header-center {
        display: none;
    }
}

span.highlight {
    background-color: yellow;
}

/* Card view */
.card-row, .stats {
    margin: 20px auto;
    max-width: 1100px;
    padding: 10px;
}

.card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1000px) {
    .card-row {
        flex-direction: column;
    }

    .card-row .card {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .card-row .card {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        height: calc(100vw * 0.56);
    }
}

.stats {
    color: #777;
    flex-direction: column;
}

.stats .row {
    display: flex;
}

.stats .row:not(:last-child) {
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}

.stats .tag:not(:last-child) {
    display: inline-block;
    margin-right: 10px;
}

.stats .stat-row-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
    padding: 10px;
}

.stats .stat-row-item:not(:last-child) {
    border-right: 1px solid #aaa;
}

.stats .label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: black;
}

.stats .label .icon {
    color: #666;
    font-size: 18px;
    margin-right: 0.4em;
}


@media (max-width: 1000px) {
    .stats .label {
        margin-bottom: 0px;
    }

    .stats .row {
        flex-direction: column;
    }

    .stats .row:not(:last-child) {
        margin-bottom: 0px;
    }

    .stats .stat-row-item {
        flex-direction: row;
        justify-content: space-between;
    }

    .stats .stat-row-item:not(:last-child) {
        border-bottom: 1px solid #aaa;
        border-right: none;
    }
}
