body {
    margin: 0;
}

* {
    font-family: 'Righteous';
}

#header {
    height: 60px;

    font-size: 40px;
    text-align: center;
    line-height: 60px;

    background-color: #000080;
    color: white;
}

.login-wrapper {
    margin: 100px auto;
    width: 300px;
    padding: 20px;

    border: 1px solid lightgrey;
    box-shadow: 4px 4px 5px 0px #aaa;
}

.login-wrapper .row {
    margin: 20px 0;
}

.login-wrapper label {
    display: block;
    margin-bottom: 5px;
}

.login-wrapper input {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;

    box-sizing: border-box;

    border: 1px solid #aaa;
    border-radius: 2px;
}

.login-wrapper button {
    width: 100%;
    padding: 8px;
    margin-top: 20px;
    font-size: 16px;

    color: white;
    background-color: #000080;

    border: none;
    border-radius: 2px;

    cursor: pointer;
}

.login-wrapper button:hover {
    background-color: #0080ff;
}
