<h1>Welcome to PiMember</h1>

<button class="learn-button btn btn-primary" onclick="window.location='[% c.uri_for("learn") %]'">
    <i class="fas fa-graduation-cap fa-fw"></i>
    Start learning
</button>
