<span class="tag" title="[% tag.name %]">
    <a href="[% c.uri_for(c.controller('Cards').action_for('index'), { 'tag' => tag.name }) %]">
        [% FILTER html %]
            [% tag.name %]
        [% END %]
    </a>
</span>
