<!doctype html>
<html lang="en-US">
<head>
    <title>PiMember</title>
    <link rel="icon" href="/static/favicon.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comic+Neue&amp;display=swap"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link rel="stylesheet" href="[% c.uri_for('/static/styles.css') %]"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000080"/>

    <script>
        window.MathJax = {
            loader: {
                load: ["input/tex-base", "output/chtml"]
            },
            startup: {
                typeset: false,
                ready: () => {
                    MathJax.startup.defaultReady();
                    MathJax.startup.promise.then(() => {
                        MathJax.typeset([".card"]);
                    });
                }
            }
        }
    </script>

    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/startup.js"></script>
</head>

<body>
    <header id="header">
        [% IF c.user_exists %]
            <nav class="header-left-desktop">
                [% INCLUDE navigation_items.tt %]
            </nav>

            <div class="header-left-mobile">
                <details>
                    <summary>
                        <i class="fas fa-bars"></i>
                    </summary>
                    <nav>
                        [% INCLUDE navigation_items.tt %]
                    </nav>
                </details>
            </div>
        [% END %]
        <div class="header-center">
            <i class="fas fa-cogs header-center-icon"></i>
            <a class="app-title"
               href="[% c.uri_for(c.controller('Root').action_for('index')) %]">
               PiMember
            </a>
            <i class="fas fa-cogs header-center-icon"></i>
        </div>
        [% IF c.user_exists %]
            <div class="header-right">
                [% INCLUDE cards/search_form.tt %]

                <a class="header-item"
                   href="[% c.uri_for(c.controller('Logout').action_for('index')) %]">
                   <span class="logout-text">Logout</span>
                   <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        [% END %]
    </header>

    <main>
        [% content %]
    </main>

    [% IF error_msg %]
        <div class="notification error">
            <div class="notification-icon">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            [% FILTER html %]
                [% error_msg %]
            [% END %]
        </div>
    [% ELSIF status_msg %]
        <div class="notification success">
            <div class="notification-icon">
                <i class="fas fa-check-circle"></i>
            </div>
            [% FILTER html %]
                [% status_msg %]
            [% END %]
        </div>
    [% END %]
</body>

</html>
