<!doctype html>
<html>
<head>
    <title>PiMember</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous&display=swap"/>
    <link rel="stylesheet" href="[% c.uri_for('/static/styles.css') %]"/>
</head>

<body>
    <div id="header">
        <div class="title">PiMember</div>
        [% IF c.user_exists %]
            <div class="menu-right">
                <a href="[% c.uri_for('/logout') %]">Logout</a>
            </div>
        [% END %]
    </div>

    [% content %]
</body>

</html>
