<div class="sub-header">
    <h1>Add a new card</h1>
</div>

<form id="cardForm" class="overlay" method="post">
    [% INCLUDE cards/card_form_content.tt %]

    <div class="button-row">
        <button class="btn btn-primary">
            Create
        </button>
    </div>
</form>

<script src="[% c.uri_for('/static/js/cardForm.js') %]" type="module"></script>
