<div class="sub-header">
    <div class="sub-header-title">
        [% FILTER html %]
            [% title %]
        [% END %]
    </div>
</div>

<form id="cardForm" method="post">
    [% INCLUDE cards/card_form_content.tt %]

    <button class="submit-button btn btn-primary">
        [% submit_button_text %]
    </button>
</form>

<script src="[% c.uri_for('/static/js/cardForm.js') %]" type="module"></script>
