<div class="sub-header">
    <span>[% cards.size %] cards total</span>

    <div class="sub-header-title">Cards</div>

    <span></span>
</div>

[% IF cards.size > 0 %]
    [% INCLUDE cards/card_list.tt %]
[% ELSE %]
    <div class="empty-list">No cards found</div>
[% END %]
